*{
    margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    box-sizing: border-box;
}
.card{
    width: 90%;
    max-width: 700px;
    background: #517e61, 255, 255;
    color:grey;
    margin: 100px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.col{
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: right;
    color: #242222;
    justify-content: 20px;
}
.search{
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.search input{
    border: 0;
    outline: 0;
    background: lightgrey;
    color: white;
    padding: 10px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    text-align: right;
    width: 100px;
}
.search button{
    border: 0;
    outline: 0;
    background: lightgrey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 50px;
    color: #e9f3f1;
}